node_modules/
dist/
release/
.env
.env.local
*.sqlite
*.sqlite3
*.db
!database-demo.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
.cache/
.eslintcache
